// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use "../abstracts";

body {
  margin: 0;
  padding: 0;
  background-color: abstracts.$brand-color;
  background-image: url(../img/hero-background.jpg);
  background-position: right top;
  background-size: 40%;
  background-repeat: no-repeat;
}

.hero {
  max-width: 50%;
  margin-bottom: 50px;

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 3rem;
    margin: 0;
  }

  .hero__button {
    background-color: abstracts.$white;
    max-width: 35%;
    margin-top: 40px;
    font-size: 14px;
    padding: 10px;

    a {
      align-items: center;
      display: flex;
      justify-content: space-around;
    }
    img {
      width: 26px;
    }
  }
}

.home-categories {
  display: flex;
  justify-content: space-around;
  background-color: abstracts.$white;
  width: 72%;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 12px;
  gap: 30px;

  .category {
    max-width: 28%;
  }

  .category__icon {
    width: 40px;
  }

  .category__title {
    margin-bottom: 0;
  }

  .category__description {
    line-height: 1.2rem;
  }
}
